*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Compatibilité Linux/Windows
/.idea/gradle.xml

# Compatibilité entre JAVA8 et JAVA11
/.idea/compiler.xml
/.idea/misc.xml
